.sieve {
	margin      : 0 auto;
	padding-top : 40px;
	width       : @page_width;

	section {
		header {
			border-top     : 5px solid rgba(0,0,0,0.15);
			margin-top     : 75px;
			opacity        : 0.60;
			text-align     : center;
			text-transform : uppercase;

			h1 {
				background  : white;
				font        : 65px "Brandon Grotesque";
				line-height : 80px;
				margin      : -40px auto 0;
				width       : 440px;
			}

			.dueDate {
				font    : italic 16px "Geogrotesque";
				opacity : 0.50;

				&.future:before {
					content: 'Due ';
				}

				&.past:before {
					content: 'Were due ';
				}
			}
		}
	}

	.release {
		bottom     : 30px;
		font       : italic 35px "Brandon Grotesque";
		left       : 0;
		opacity    : 0.45;
		position   : absolute;
		right      : 0;
		text-align : center;
		/*display: none; //need to work on getting the entire page to fit on one screen*/
	}
}