.sieve {
	margin      : 0 auto;
	padding-top : 40px;
	width       : @page_width;

	section {
		header {
			border-top     : 5px solid rgba(0,0,0,0.15);
			margin-top     : 75px;
			opacity        : 0.60;
			text-align     : center;
			text-transform : uppercase;

			h1 {
				background  : white;
				font        : 65px "Brandon Grotesque";
				line-height : 80px;
				margin      : -40px auto 0;
				width       : 440px;
			}

			.dueDate {
				font    : italic 16px "Geogrotesque";
				opacity : 0.50;

				&.future:before {
					content: 'Due ';
				}

				&.past:before {
					content: 'Were due ';
				}
			}
		}
	}

	&.small section header {
		margin-top:40px;
		h1 {
			font-size: 50px;
		}
	}

	.release {
		background    : rgba(0,0,0,0.18);
		border-radius : 4px;
		color         : white;
		font          : bold 33px 'Geogrotesque';
		padding       : 13px 22px;
		position      : fixed;
		right         : 22px;
		top           : 22px;
	}
}