.particleType(@width, @color, @cols, @borderRadius, @checkmarkImgModifier){
	@height: @width / 1.17;

	.particle {
		margin-bottom : @height/2.5;
		margin-left   : (@page_width - (@cols * @width)) / (@cols - 1);
		width         : @width;

		&:nth-child(@{cols}n+1){
			margin-left: 0;
		}

		.box {
			.border-radius(@borderRadius);
			border-color : @color;
			height       : @height;
			margin       : 0 auto;
		}

		.completion {
			background: @color;

			&.code {
				opacity: 0.5;
			}
		}

		.checkmark {
			background-image: url("../images/checkmark-@{checkmarkImgModifier}.png");
		}
	}
}

.sieve {
	.particles {
		margin-top : 50px;
		overflow   : hidden;
	}

	.particle {
		float: left;

		&.accepted .box {
			.checkmark {
				display: block;
			}

			.completion.test {
				height: 100% !important; //overrides style attribute from ParticleView
			}
		}

		.box {
			border-style : solid;
			border-width : 5px;
			position     : relative;

			.checkmark {
				background-position : 50% 50%;
				background-repeat   : no-repeat;
				display             : none;
				height              : inherit;
				position            : relative;
				z-index             : 2;
			}

			.completion {
				bottom   : 0;
				left     : 0;
				position : absolute;
				right    : 0;
				z-index  : 1;

				&.test {
					z-index: 2;
				}
			}
		}

		.name {
			font       : 20px "Geogrotesque";
			margin-top : 22px;
			opacity    : 0.40;
			text-align : center;
			height     : 48px;
			overflow   : hidden;
			/*.ellipsis();*/
		}

	}

	&.small .particle .name {
		font-size: 14px;
		margin-top: 16px;
		height     : 40px;
	}

	.boulders {
		.particleType(145px, @orange, 3, 17px, 'large');
	}

	.rocks {
		.particleType(120px, @blue, 4, 15px, 'medium');
	}

	.pebbles {
		.particleType(100px, @purple, 5, 13px, 'small');
	}

	&.small .boulders {
		.particleType(120px, @orange, 4, 15px, 'medium');
	}

	&.small .rocks {
		.particleType(100px, @blue, 5, 13px, 'small');
	}

	&.small .pebbles {
		.particleType(70px, @purple, 6, 10px, 'small');
	}
}